/* ОСНОВНЫЕ СТИЛИ НА ВСЕ */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #f9f9f9;
}

#clock,
#workspaces,
#window,
#network,
#pulseaudio,
#cpu,
#temperature,
#language,
#battery,
#tray,
#backlight {
    background: #272a34;
    opacity: 0.8;
    padding: 0px 13px; /* padding: 0px 10px; */
    margin: 3px 0px;
    margin-top: 10px; /* margin-top: 10px; */
    border: 1px solid #181825;
}

/* :-) */
tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

/* ЧАСЫ */
#clock {
    color: #fab387;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
    border-right: 0px;
}

/* РАБОЧИЕ СТОЛЫ */

#workspaces {
    background: #272a34;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

#workspaces button {
    padding: 5px;
    color: #f9f9f9;
    margin-right: 5px;
}

#workspaces button.active {
    color: #81c995;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

/* ИНТЕРНЕТ */
#network {
    color: #f9e2af;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
}

/* ПРОЦЕССОР */
#cpu {
    border-radius: 10px 0px 0px 10px;
    margin-left: 20px;
}

/* ТЕМПЕРАТУРА ЖЕЛЕЗА */
#temperature {
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
}

#temperature.critical {
    color: #eba0ac;
}

/* РАСКЛАДКА */
#language {
    border-radius: 10px 0px 0px 10px;
    margin-left: 20px;
}


/* БАТАРЕЯ */
#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

/* ЯРКОСТЬ  [-]*/
/* #backlight {
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    margin-left: 10px;
} */

/* ТРЕЙ xD */
#tray {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
