window {
    opacity: 0.9;
    margin: 0px;
    background-color: #282a36;
    border-radius: 8px;
    border: 2px solid #0860f2;
    font-size: 24px;
}

#input {
    margin: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #44475a;
    border-radius: 8px;
    font-size: 40px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
    border-radius: 8px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #282a36;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #FFFFFF;
} 

#entry:selected {
    background-color: #0860f2;
    border-radius: 8px;
    outline: none;
}

#entry:selected * {
    background-color: #0860f2;
    border-radius: 8px;
    outline: none;
}

